</head>

<body>
    <div id="container">
        <div class="d-flex flex-column flex-shrink-0 p-3 mysize">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0  text-white text-decoration-none"
                style="justify-content: center;">
                <span class="fs-4">IIIT Allahabad</span>
            </a>
            <hr class="hr">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/studentpage" class="nav-link active mylinks" aria-current="page">
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/studentprofile" class="nav-link text-white mylinks">
                        View Profile
                    </a>
                </li>
                <li>
                    <a href="/internship" class="nav-link text-white mylinks">
                        New Internship
                    </a>
                </li>
                <li>
                    <a href="/MakeMessage" class="nav-link text-white mylinks">
                        Message
                    </a>
                </li>
            </ul>
            <hr class="hr">
            <div class="dropdown">
                <a href="/logout" class="d-flex align-items-center text-white text-decoration-none" aria-expanded="false">
                    <img src="/Pics/mypic.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>Sign Out</strong>
                </a>
            </div>
        </div>