.navbar{
    background-color: #414B4F;;
}

.navbar img{
    background-color: white;
    border-radius: 20px;
}

.nav-item a{
    margin-right: 8px;
    color: white;
    font-family: 'Tapestry', cursive;
}

#navbarNavDropdown{
    justify-content: end;
}